:root {
    --black:#000000;
    --White:#ffffff;
    --soft-black:#212121;
    --soft-white:#e8e8e8;
    --cyan-neon:#00ffff;
    --gray:rgb(255,255,255,.2);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:var(--soft-black);
    font-family: monospace;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--black);
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: var(--cyan-neon);
    box-shadow: 0px 15px 20px var(--cyan-neon);
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

.logo {
    padding: 12px;
    margin: 12px;
    border-radius: 90px;
    filter: brightness(420%)
}
.main-container {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 16px 160px 1fr;
    gap: 8px;
    display: grid;
    width: 100%;
    height: 100vh;
}
.text {
    margin :12px;
    padding: 8px;
    background-color:var(--soft-black);
    color: var(--soft-white);
    padding: 10px;
    border: 2px solid var(--White);
    border-radius: 5px;
    resize: none;
}

.text:focus {
    color: var(--cyan-neon);
    background-color: var(--soft-black);
    outline-color: var(--cyan-neon);
    box-shadow: -3px -3px 15px var(--cyan-neon);
    transition: .1s;
    transition-property: box-shadow;
}

.advert{
    margin-left: 12px;
    display: flex;
    align-items: center;
}
.advert p {
    margin-left: 8px;
    color: var(--soft-white);
}

.buttons {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,80px);
    align-items:center ;
}
.primary-button {
    grid-column: 2/3;
}

.secondary-button {
    grid-column: 2/3;
    grid-row: 2/3;
}

.message {
    display: flex;
    flex-direction: column;
    z-index: 0;
    color: var(--soft-white);
    margin: 12px;
    padding: 12px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    justify-content: center;
    align-items: center;
}

.load {
    display: flex;
    margin: 36px;
}

.loader {
    --dim: 5rem;
    width: var(--dim);
    height: var(--dim);
    border: 7px solid var(--cyan-neon);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin_51 1.5s infinite linear;
}

@keyframes spin_51 {
    from {
    transform: rotate(0)
    }

    to {
    transform: rotate(360deg)
    }
}

.encText {
    display: none;
    height: 100%;
    width: 100%;
    margin: 24px;
    background-color: var(--soft-black);
    border: none;
    text-transform: uppercase;
    color: var(--cyan-neon);
    text-align: center;
    resize: none;
    pointer-events: none;
}


.copy {
    display: none;
    margin: 24px;
}

@media (max-width: 767px) {

}
@media (min-width: 768px) {
    .main-container {
        grid-template-rows: 1fr 16px 80px 1fr;
    }
    .buttons {
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:80px;
        gap: 12px;
    }
    .primary-button {
        grid-column: 2/3;
    }
    .secondary-button {
        grid-row: 1/2;
        grid-column: 3/4;
    }
}

@media  (min-width:1024px){
    .main-container {
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 16px 80px 20px; 
    }
    .advert {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .buttons {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .message {
        grid-row: 1/4;
        grid-column: 2/3;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}













